#!/usr/bin/perl
#
# Passpoint Provisioning Tools
#  Simple CGI script for Passpoint profile provisioning
#  Target: Android 10+
# 
# Usage:
#  - Customize the configuration part below.
#  - Put this script on a web server as a CGI program.
#  - Access https://<path_to_script>/passpoint-android.config by Chrome.
# Notes:
#  - Server authentication works on Android 11+.
#  - Avoid PAP since Android 10 cannot configure server authentication
#    through PPS-MO.
#    (vulnerable to evil-twin AP attacks)
#  - (The current) PPS-MO does not have a field for specifying Outer
#    Identity explicitly. The current Android implementation forms
#    Outer Identity automatically based on the Credential/Realm.
# References:
#  - Passpoint (Hotspot 2.0)
#    https://source.android.com/devices/tech/connect/wifi-passpoint
#
# 20220721 Hideaki Goto (Cityroam/eduroam)
#

use CGI;
use DateTime;
use MIME::Base64;


#---- Configuration part ----

#### Set ID/PW and realm here. ####
$userID = 'name@example.com';
$passwd = 'somePassword';

$uname = $anonID = $userRealm = $userID;
$anonID =~ s/^.*@/anonymous@/;
$userRealm =~ s/^.*@//;


# Passpoint (ANQP)

$HomeDomain = 'example.com';	# to be used to distinguish home/foreign ANP
$friendlyName = 'Example Comm';
$RCOI = '5a03ba0000,004096';	# comma-separated, no space
$NAIrealm = $userRealm;		# to be used for network selection by ANQP


# Server authentication

$AAAFQDN = 'idp.example.com';	# semi-colon separated, no space
$CAfile = 'ca.pem';	# must be in PEM format


#---- Profile composition part ----
# (no need to edit below, hopefully)

$ts=DateTime->now->datetime."Z";
$encpass = encode_base64($passwd);
chomp($encpass);

$xml_RCOI = '';
if ( $RCOI ne '' ){
$xml_RCOI = <<"EOS";
        <Node>
          <NodeName>RoamingConsortiumOI</NodeName>
          <Value>$RCOI</Value>
        </Node>
EOS
}

$xmltext = <<"EOS";
<MgmtTree xmlns="syncml:dmddf1.2">
  <VerDTD>1.2</VerDTD>
  <Node>
    <NodeName>PerProviderSubscription</NodeName>
    <RTProperties>
      <Type>
        <DDFName>urn:wfa:mo:hotspot2dot0-perprovidersubscription:1.0</DDFName>
      </Type>
    </RTProperties>
    <Node>
      <NodeName>i001</NodeName>
      <Node>
        <NodeName>HomeSP</NodeName>
        <Node>
          <NodeName>FriendlyName</NodeName>
          <Value>$friendlyName</Value>
        </Node>
        <Node>
          <NodeName>FQDN</NodeName>
          <Value>$HomeDomain</Value>
        </Node>
${xml_RCOI}      </Node>
      <Node>
        <NodeName>Credential</NodeName>
        <Node>
          <NodeName>CreationDate</NodeName>
          <Value>$ts</Value>
        </Node>
        <Node>
          <NodeName>Realm</NodeName>
          <Value>$NAIrealm</Value>
        </Node>
        <Node>
          <NodeName>UsernamePassword</NodeName>
          <Node>
            <NodeName>Username</NodeName>
            <Value>$uname</Value>
          </Node>
          <Node>
            <NodeName>Password</NodeName>
            <Value>$encpass</Value>
          </Node>
          <Node>
            <NodeName>MachineManaged</NodeName>
            <Value>true</Value>
          </Node>
          <Node>
            <NodeName>EAPMethod</NodeName>
            <Node>
              <NodeName>EAPType</NodeName>
              <Value>21</Value>
            </Node>
            <Node>
              <NodeName>InnerMethod</NodeName>
              <Value>MS-CHAP-V2</Value>
            </Node>
          </Node>
        </Node>
      </Node>
      <Node>
        <NodeName>Extension</NodeName>
        <Node>
          <NodeName>Android</NodeName>
          <Node>
            <NodeName>AAAServerTrustedNames</NodeName>
            <Node>
              <NodeName>FQDN</NodeName>
              <Value>$AAAFQDN</Value>
            </Node>
          </Node>
        </Node>
      </Node>
    </Node>
  </Node>
</MgmtTree>
EOS

$xmlb64 = encode_base64($xmltext);
chomp($xmlb64);

$cert = '';
open my $fh, '<', $CAfile;
while(<$fh>){
	if ( $_ =~ /BEGIN\s+CERTIFICATE/ ){ next; }
	if ( $_ =~ /END\s+CERTIFICATE/ ){ last; }
	$cert .= $_;
}
close $fh;
chomp($cert);

$mm = <<"EOS";
Content-Type: multipart/mixed; boundary={boundary}
Content-Transfer-Encoding: base64

--{boundary}
Content-Type: application/x-passpoint-profile
Content-Transfer-Encoding: base64

$xmlb64
--{boundary}
Content-Type: application/x-x509-ca-cert
Content-Transfer-Encoding: base64

$cert
--{boundary}--
EOS


# Output of the composed profile

print <<EOS;
Content-Type: application/x-wifi-config
Content-Transfer-Encoding: base64

EOS

print encode_base64($mm);

exit(0);
